[Unit]
Description=Node Exporter Version {{ node_exporter_version }}
 
[Service]
User=node-exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address={{ node_exporter_host }}:{{ node_exporter_port }} {{ node_exporter_options }}
 
[Install]
WantedBy=multi-user.target

