server {
    listen 80 default_server;
    server_name _;

    {% if 'web_servers' in group_names %}
    location / {
        proxy_pass http://localhost:{{ agama_port }};
        proxy_set_header Host $http_host;
    }
    {% endif %}

    {% if 'prometheus_servers' in group_names %}
    location /prometheus {
        proxy_pass http://localhost:9090;
    }
    {% endif %}

    {% if 'grafana_servers' in group_names %}
    location /grafana {
        proxy_pass http://localhost:{{ grafana_port }};
        proxy_set_header Host $http_host;
    }
    {% endif %}

}

server {
    listen 8080 default_server; {# 8080 is commonly used for web server communications #}

    location = /stub_status {
        stub_status;
    }
}
