server {
    listen 80 default_server;
    server_name _;

{% if 'docker_servers' in group_names %}
    location / {
        proxy_pass http://localhost:{{ agama_port + 1 | int }};
        proxy_set_header Host $http_host; {# because nginx is acting as a reverse proxy server #}
    }
{% endif %}

{% if 'prometheus_servers' in group_names %}
    location /prometheus {
        proxy_pass http://localhost:{{ prometheus_port }};
    }
{% endif %}

{% if 'grafana_servers' in group_names %}
    location /grafana {
        proxy_pass http://localhost:{{ grafana_port }};
        proxy_set_header Host $http_host;
    }
{% endif %}

}

server {
    listen 8080 default_server; {# 8080 is commonly used for web server communications #}

    location = /stub_status {
        stub_status;
    }
}
