[uwsgi]
chdir = /opt/agama
module = agama:app
env = AGAMA_DATABASE_URI=mysql+pymysql://{{ agama_user }}:{{ mysql_password }}@{{ cname_mysql }}{{ groups['db_primary'][0] | replace('AlessandroTambellini', '') }}/{{ agama_db }}
plugins = python3
socket = localhost:5000
uid = agama
