$TTL 604800
{{ domain_name }}. IN SOA AlessandroTambellini-1.{{ domain_name }}. alessandro.{{ domain_name }}. (
2 ; Serial
604800 ; Refresh
86400 ; Retry
2419200 ; Expire
604800 ) ; Negative Cache TTL
;
{{ domain_name }}. IN NS AlessandroTambellini-1
AlessandroTambellini-1 IN A {{ hostvars['AlessandroTambellini-1']['ansible_default_ipv4']['address'] }};
AlessandroTambellini-2 IN A {{ hostvars['AlessandroTambellini-2']['ansible_default_ipv4']['address'] }};