database_url=http://{{ groups['influxdb_servers'][0] }}:{{ influxdb_port }}
database_name=latency
targets=alessandrotambellini-1.{{ domain_name }},alessandrotambellini-2.{{ domain_name }},alessandrotambellini-1,alessandrotambellini-2
