global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ["localhost:{{ prometheus_port }}"]
    metrics_path: '/prometheus/metrics'

  - job_name: 'linux'
    static_configs:
    - targets:
{% for server in groups['all'] %}
      - {{ server }}:9100
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'bind9'
    static_configs:
    - targets:
{% for server in groups['dns_servers'] %}
      - {{ cname_bind9 }}{{ server | replace('AlessandroTambellini', '') }}:9119
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'nginx'
    static_configs:
    - targets:
{% for server in groups['nginx_servers'] %}
      - {{ cname_nginx }}{{ server | replace('AlessandroTambellini', '') }}:9113
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'mysql'
    static_configs:
    - targets:
{% for server in groups['db_servers'] %}
      - {{ cname_mysql }}{{ server | replace('AlessandroTambellini', '') }}:9104
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'influxdb'
    static_configs:
    - targets:
      - {{ cname_influxdb }}:9424 # in case of more than one influxdb server, round robin technique is applied
    metrics_path: '/metrics'

  - job_name: 'haproxy'
    static_configs:
    - targets:
{% for server in groups['haproxy_servers'] %}
      - {{ cname_haproxy }}{{ server | replace('AlessandroTambellini', '') }}:9101
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'keepalived'
    static_configs:
    - targets:
{% for server in groups['keepalived_servers'] %}
      - {{ cname_keepalived }}{{ server | replace('AlessandroTambellini', '') }}:9165
{% endfor %}
    metrics_path: '/metrics'


