global:
  scrape_interval: 15s
  external_labels:
    monitor: "codelab-monitor"
scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]
    metrics_path: /prometheus/metrics
{% if prometheus_node_exporter_group %}
  - job_name: 'linux'
    scrape_interval: 15s
    static_configs:
    - targets:
{% for server in groups[prometheus_node_exporter_group] %}
      - {{ server }}:9100
{% endfor %}
{% endif %}