global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ["localhost:9090"]
    metrics_path: '/prometheus/metrics'

  - job_name: 'linux'
    static_configs:
    - targets:
{% for server in groups['all'] %}
      - {{ server }}:9100
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'bind9'
    static_configs:
    - targets:
{% for server in groups['dns_server'] %}
      - {{ server }}:9119
{% endfor %}
    metrics_path: '/metrics'